/*
COLORS
Light green:#7ed567f
Medium Gren: #55c57a
Dark green: #28b485 
*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box; /*cuadro de borde cambia modelo del cuadro para que los bordes y los rellenos ya no
    se agreguen al ancho total o la altura total que especificamos para un cuadro*/
    }
    
    body {
        font-family:"Lato", sans-serif;
        font-weight:400; /*peso de la fuente*/
        font-size: 16px;
        line-height:1.7;
        color:#777;
        padding:30px;
    }
    
    .header{
        height:95vh;
        background-image: linear-gradient(
          to right bottom, 
        rgba(126,213,111,0.8),
        rgba(40,180,131,0.8)), 
         url(../img/hero.jpg);
        background-size: cover;
        background-position:top;
        position:relative;
        /*clip-path: polygon(x y, x y, x y)*/
          
         clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    }
    
    .logo-box{
        position: absolute;
        top:40px;
        left:40px;
    }
    
    .logo{
        height:35px;
    }
    
    /*Animación del logo*/
    .logo-box:hover .logo {
        animation: moveInRight 0.6s ease-in;
     } 
    
    /*Centrar span */
    .text-box{
        position: absolute;
        top: 40%;
        left: 50%;
       /* background-color: rebeccapurple;*/
        transform: translate(-50%, -50%);
        text-align: center;
    }    
    
    .heading-primary{
        color: #fff;
        text-transform:uppercase;
    
        /*Ocultar el tempblor de la animación del texto*/
        backface-visibility:hidden;
    
    }
    
    .heading-primary-main{  
        display: block;
        font-size: 60px;/*Tamaño de la letra*/
        font-weight: 400;/*peso de la fuente*/
        letter-spacing: 35px;/*Espacio entre letras*/
         /*Para que la animación fucione*/
        animation-name: moveInLeft;
            /*La duración de la nimación*/
        animation-duration: 1s;
        /*animation: moveInLeft 1s ease-out ;*/
        /*Tipo de animación más lento o rapido*/
        animation-timing-function: ease-out;
        /*
            animation-delay: 3s;*/
        /*Repite la animación*/
        /*animation-iteration-count: 3;*/
    }
    
    .heading-primary-sub{
        display: block;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 17.4px;
        animation: moveInRight 1s ease-out;
    }
    
    /*Animación de header empieza de la izquirda*/
    @keyframes moveInLeft {
        /*Comienza en cero*/
        0%{
           /*opacidad del texto*/
           opacity: 0;
           transform: translateX(-100px);
    
        }
      
        /*La animación sucede*/
        80% {  
             
            transform: translateX(10px) ;
        }  
    
        /*Termina la animación*/
        100%{
           opacity: 1;
           /*Animar en la direción x*/
           transform: translate(0);
        }
    }
    
    /*Animación empieza de la derecha*/
    @keyframes moveInRight{
        0%{
            opacity: 0;
            transform: translateX(100px);
        }
    
        /**/
        80%{
            transform: translate(-10px);
        }
    
    
        /*Termina la animación*/
        100%{
            opacity: 1;
            /*Animar en la dirección x*/
            transform: translate(0);
        }
    }