.popup      {
     height: 100vh;
     width: 100%;
     //Position fija
     position: fixed;
     top:0;
     left:0;
     background-color: rgba($color-dark, .8);
     z-index: 9999;
     opacity: 0;
     visibility: hidden;
     transition: all .3;
     /*
     //Prefijo para safari
     -webkit-backdrop-filter: blur(10px);
     backdrop-filter: blur(10px);
     background-color: rgba($color-dark, .3);*/

     @supports ( -webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)){
          //Prefijo para safari
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
          background-color: rgba($color-dark, .3);

     }

     //Ocultar ventana emergente
     //display: none;

     @include respond(phone) {
      height: 100vh;
      width: 100%;
      //Position fija
      position: fixed;
      top:0;
      left:0;
      background-color: rgba($color-dark, .8);
      z-index: 9999;


    }



    &__content {
        @include absCenter;
        width: 75%;
      //height: 50rem;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-dark, .2);
        border-radius: 3px;
        //Aprece la tabla
        display: table;
        //Para solucionar los bordes de la imgen que se superponen
        //corregir desbordamiento
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.25);
        transition: all .5s .2s;

        @include respond(phone){
          @include absCenter;
          width: 75%;
          height: 50rem;
          background-color: $color-white;
          box-shadow: 0 2rem 4rem rgba($color-dark, .2);
          height: 40rem;
          
      
          
          
        }
      }


      &__left{
        width: 33.333333%;
        //float: left;
        //Para que ambas tables tengan la misma altura
        display: table-cell;

        @include respond(tab-land) {
          width: 100%;
          display: block;
          //padding-bottom: 4rem;
          height: 42rem;
      }
        
        @include respond(phone){
          width: 0%;
        }


      }
      
      &__right{
        width: 66.6666667%;
        //float: left;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;

        @include respond(tab-desk){
          padding: 2rem 3rem;  
        }

        @include respond(tab-port) {
          padding: 1.5rem 2.5rem;        
        }

        @include respond(phone){
          width: 100%;
          padding: 5rem;
      
        }

      }


       &__img{
          display: block;
          width: 100%;


          @include respond(tab-land) {
            width:80;
            height: 20rem;
           margin-top: 1rem;
          //  margin-bottom: .2rem;
            object-fit: cover;
            //margin-bottom: 2rem;
         }
       

          @include respond(phone){
            display: none;
            
          }


       }

       &__text{
         font-size: 1rem;
         margin-bottom: 4rem;

         -moz-column-count: 2;
         -moz-column-gap: 4rem;//1em = 14px;
         -moz-column-rule: 1px solid $color-grey-light-2;

         column-count: 2;
         //Espacio entre columna
         column-gap: 4rem;//1em = 14px;
         column-rule: 1px solid $color-grey-light-2;
        
         //seperación -
         -moz-hyphens: auto;
         -ms-hyphens: auto;
         -webkit-hyphens: auto;
          hyphens: auto;

         @include respond(tab-port){
          margin-bottom: 2rem;
          column-count: 1;
        
        }

        @include respond(phone){
          column-count: 1;
       
          
        }
         

       }
         //Open states
          &:target{
            opacity: 1;
            visibility: visible;
          }

          //Elemento secundario de la ventana emergente
          &:target &__content{
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);

          }

        //X
        &__close{
          &:link,
          &:visited{
            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            //Altura de la linea
            line-height: 1;
          }

          &:hover{
            color: $color-primary;
          }
        } 
  }

  
