*,
*::after,
*::before{
margin:0;
padding:0;
box-sizing: inherit;

}

//Solucionar el desbordamiento de los lados en phone
html,body
{
    overflow-x: hidden; 
}

/*selector raiz*/

html {
    overflow-x: hidden; 
    //Esto define que es un rem
    //Esto define todo el tamaño de nuestro diseño
    font-size: 62.5%;// 1rem = 10px; 10px/16px = 62.5;
 
    @include respond(tab-land){// width < 1200?
        font-size: 56.25%; //1rem = 9px, 97/16 = 50%

    }
    
    @include respond(tab-port){// width < 900?
        font-size: 50%;  //1 rem = 8px, 8/16 = 50%
        

    }

   //@include respond(phone  ){
     //   font-size: 30%;// 1rem = 4.8px
    //}

    @include respond(big-desktop){
        font-size: 75%; //1rem = 12, 12/16

    }


}

body {
    box-sizing: border-box; /*cuadro de borde cambia modelo del cuadro para que los bordes y los rellenos ya no
    se agreguen al ancho total o la altura total que especificamos para un cuadro*/
    padding:3rem;

    //Eliminamos el border color blanco < 900px
    @include respond(tab-port){
        padding: 0;
    }
}